body{
	background-image:url(/images/bg.jpg);
	background-attachment:fixed;
}
.header img{
	width: 100%;
}
.jumbotron{
	background-color: #4e00b3;
	color: #ffffff;
}
.call_to_action h1 a,
.call_to_action h2 a,
.call_to_action a,
.call_to_action {
	text-align: center;
	color: #4e00b3;
}
.call_to_action:hover{
	background-color: #4e00b3;
	color: #ffffff;
}
.call_to_action:hover h1 a,
.call_to_action:hover h2 a,
.call_to_action:hover a{
	color: #ffffff;
}
.col-xs-12{
	background-color: #ffffff;
	padding-top: 1em;
	padding-bottom: 1em;
}
.gear{
	text-align: center;
}
.gear img{
	height: 100px;
}
.footer{
	text-align: center;
	font-weight: bold;
}
.footer,
.footer a{
	color: #c6c6c6;
}
